.top-page-header {
  background-color: black;
  height: 68px;
  width: 100vw;
  display: grid;
  grid-template:
    "..... ..... ..... ..... ..... ..... ..... ..... ....."
    "..... title ..... box   ..... left  ..... right ....." 100%
    "..... ..... ..... ..... ..... ..... ..... ..... ....." 
    /10vw  auto  30px  auto  1fr   auto  30px  auto  10vw;
    align-items: center;
}

.nav{
  text-decoration: none;
}

.nav:not(.title) {
  color: white;
}

.nav:hover {
  color: lightslategray;
}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: 24px;
  color: red;
}

.box-view {
  grid-area: box;
  font-size: 24px;
}

.login {
  grid-area: left;
}

.sign-up {
  grid-area: right;
}

.user-nickname {
  grid-area: left;
  font-weight: bold;
  font-size: 1.2rem;
}

.logout {
  grid-area: right;
}


/* single-header */

.single-header {
  display: flex;
}

.single-header-title {
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  margin: 50px auto;
  text-align: center;
}