.first-visit {
  min-height: calc(100vh - 68px);
  width: 100vw;
  background-color: rgb(240, 240, 240);
}

.top-description {
  /* margin-top: 50px;
  margin-bottom: 70px;
  font-size: 2rem; */
}

.first-visit img {
  /* width: 70vw;
  margin-bottom: 70px; */
}
