.first-visit {
  height: 100%;
  width: 100vw;
  text-align: center;
  background-color: rgb(230, 230, 230);
}

.top-description {
  margin-top: 50px;
  margin-bottom: 70px;
  font-size: 2rem;
}

.first-visit img {
  width: 70vw;
  margin-bottom: 70px;
}
