.first-visit {
  min-height: 100%;
  width: 100vw;
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
}

.background-wrap {
  background-color: lightblue;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.first-view-wrap {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: max(300px, 60vw);
  min-height: 100%;
}

.top-description {
  width: 100%;
  margin: clamp(50px, 80px, 120px) 0 10px;
  text-align: center;
  font-size: clamp(1.2rem, 1.7rem, 2.5rem);
}

.top-text {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.first-view-sign {
  display: block;
  width: 200px;
  height: 70px;
  font-size: 20px;
  font-weight: 100;
  margin: 0 auto;
}

.background-second {
  position: relative;
  display: block;
  background-color: lightblue;
  width: 100%;
  height: min(100vh, 1000px);
  background-color: lightsalmon;
}

.demo-view-wrap {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  width: max(300px, 60vw);
  text-align: center;
}

.demo-view-wrap h2 {
  margin: clamp(50px, 80px, 120px) 0 10px;
  font-size: clamp(1.2rem, 2rem, 2.5rem);
}

.demo-view-wrap p {
  text-align: center;
  margin-bottom: 50px;
  width: max(300px, 60vw);
}

.demo-view {
  text-align: center;
  width: max(300px, 55vw);
  height: auto;
}

.background-third {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
}

.iphone-img {
  width: max(70px, 20vw);
  height: auto;
  margin: 100px auto;
}

.ipad-img {
  width: max(100px, 30vw);
  height: auto;
  margin: 100px auto;
}
