<div class="first-visit">
  <div class="background-wrap">
    <header class="first-view-wrap">
      <h2 class="top-description">よく開くページを整理しよう</h2>
      <p class="top-text">たくさんのタブで散らかっていませんか? 簡単なページ登録で、いつでも素早く開けます。</p>
      <button onclick="location.href='/users/sign_in'" class="first-view-sign">タブを整理</button>
    </header>
  </div>
  <div class="background-second">
    <div class="demo-view-wrap">
      <h2>あなたに合わせて整理しよう</h2>
      <p>よく使くページやあとで読みたいページなど、用途別にグルーピングできます。たくさん保存しても、タイトルを検索して素早く見つけよう。ぜひご登録ください。</p>
      <%= image_tag 'demo_views.gif', class: "demo-view" %>
    </div>
  </div>
</div>
