<%= image_tag 'first_view_background.jpg', class: "first-img-one" %>

<p class="top-description">よく開くページを管理しよう</p>

<div class="start">
  <%= link_to "ログイン", new_user_session_path, class:"start-login" %>
  <%= link_to "新規登録", new_user_registration_path, class:"start-login" %>
</div>
