<p class="top-description">よく開くページを管理しよう</p>

<ul class="first-page-lists">
  <li class="first-page-text">ページを開く</li>
  <%= image_tag "https://user-images.githubusercontent.com/61821997/98667778-3e28f100-2392-11eb-9cb4-eff25e97bf5d.gif" %>

  <li class="first-page-text">ページの登録</li>
  <%= image_tag "https://user-images.githubusercontent.com/61821997/98667881-63b5fa80-2392-11eb-8021-c18ce8b77f72.gif" %>
</ul>
<div class="start">
  <%= link_to "ログイン", new_user_session_path, class:"start-login" %>
  <%= link_to "新規登録", new_user_registration_path, class:"start-login" %>
</div>
