<aside class="side-bar">
  <% if user_signed_in? %>
    <% current_user.boxes.each do |box| %>
      <%= link_to box.name, box_connects_path(box), class: "box" %>
    <% end %>
  <% end %>

  <div id="box-lists">
  </div>

  <%= form_with url: boxes_path, id:"box-form", method: :post do |f| %>
    <%= f.text_field :name, class: "new-box-text", id: "box-text", placeholder: "入力", style: 'display:none' %>
    <%= f.submit "追加", class: "box-submit", id: "box-submit-id", style: "display:none" %>
  <% end %>
  <div class="new-box box" id="new-box" display="block">＋ リスト作成</div>
</aside>



