<div class="wrapper">
  <header class="top-page-header"><%= render "shared/header" %></header>
  <main class="main-page"><%= render "main_connect" %></main>
  <aside class="side-bar"><%= render "side_bar" %></aside>
</div>