.up-box-form {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 10px 50px 50px;
  justify-content: center;
  margin-top: 50px;
  row-gap: 20px;
}

.up-box-text {
  font-size: 1.1rem;
  color: grey;
}

.up-box::placeholder {
  opacity: 0.5;
  text-align: center;
}

.box-delete {
  display: flex;
  justify-content: center;
  margin: 30px auto 10px auto;
}

.box-delete-in {
  text-decoration: none;
}
