/* top-layout */

.wrapper {
  min-height: calc(100vh - 68px);
  display: grid;
  grid-template:
    "..... .....  .....  .....  ....." 0px
    "..... side   .....  main   ....." 1fr
    "..... .....  .....  .....  ....." 0px
    / 0px 200px 0px 1fr 0px;
}

.main-page {
  grid-area: main;
  background-color: white;
}

.side-bar {
  grid-area: side;
  background-color: rgb(29, 29, 29);
  overflow: scroll;
}

/* main-layout */
.main-page {
  overflow: scroll;
  height: 120px;
  width: 100px;
  margin: 50px;
  display: grid;
  grid-template:
    "..... ..... ....." 0px
    "..... title ....." 20px
    "..... ..... ....." 0px
    "..... image ....." 100px
    "..... ..... ....." 0px
    / 0px 100% 0px;
}

.link-title {
  grid-area: title;
  text-align: center;
  border: 1px solid lightblue;
}

.image-link {
  grid-area: image;
}

/* side-css */

.box {
  background-color: rgba(211, 211, 211, 0.212);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  text-decoration: none;
  text-align: center;
  height: 50px;
}

.box:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.new-box-text {
  width: 100%;
  padding: 15px 0px;
}

.new-submit {
  width: 100%;
}
